@tailwind base;
@tailwind components;
@tailwind utilities;

@import "../public/fonts/inter.css";

body {
  background-color: white;
  margin: 0px;
}

* {
  font-family: 'Inter';
}

a {
  color: #3366FF;
  text-decoration: underline;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: #d6d6d6 #ffffff;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 16px;
}

*::-webkit-scrollbar-track {
  background: #ffffff;
}

*::-webkit-scrollbar-thumb {
  background-color: #d6d6d6;
  border-radius: 10px;
  border: 3px solid #ffffff;
}

/* Custom Buttons */
.btn-simple {
  @apply flex;
  @apply justify-center;
  @apply border border-solid;
  @apply border-gray-300;
  @apply shadow-none;
  @apply font-semibold;
  @apply !text-sm;
  height: 40px;
}

.btn-link {
  @apply bg-transparent;
  @apply !shadow-none;
  @apply border-none;
  @apply hover:!bg-transparent;
  @apply !p-0;
  @apply !text-sm;
  @apply !no-underline;
  @apply !text-purple-700;
}

button:disabled .btn-link {
  @apply !text-purple-300;
}

a {
  @apply !text-purple-700;
  @apply text-sm;
}

.link-none {
  @apply !text-inherit;
  @apply !no-underline;
}

.btn-submit {
  @apply border-none;
  @apply h-11;
  @apply text-md;
  @apply font-semibold;
  @apply w-full;
  @apply justify-center;
}

.btn-text-purple {
  color: #572BD6 !important;
}

.input-basic {
  height: 44px;
  @apply !text-md;
  @apply text-gray-900;
  @apply border border-solid;
  @apply border-gray-300;
  @apply shadow-none;
  @apply font-normal;
  @apply box-border;
}

.input-radio-basic {
  @apply self-center;
}

.input-code-item {
  @apply !w-[64px] !h-[64px];
  @apply sm:!w-[48px] sm:!h-[48px];
  @apply mi:!w-[44px] mi:!h-[44px];
  @apply !border-primary-600;
  @apply !border-[2px];
  @apply !border-solid;
  @apply shadow-none;
  border-radius: 8px !important;
  @apply !py-[10px] !px-[8px];
  @apply sm:!py-[0px] sm:!px-[2px];
  text-align: center;
  box-sizing: border-box !important;
}

.input-code-item input {
  @apply !text-[40px];
  @apply sm:!text-[32px];
  @apply text-center;
  @apply p-0;
  @apply !text-primary-600;
}

.input-label {
  @apply text-sm;
  @apply text-gray-800;
  @apply font-medium;
  line-height: 20px;
  margin-bottom: 6px;
}

.select-basic [class*="-control"]{
  min-height: 44px;
}

label p {
  margin-top: 0px;
  margin-bottom: 0px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}